.App {
    background-image: url('./assets/jungle-background.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-content {
   
}