.App {
    color: white;
    text-align: center;
    background-image: url('../public/assets/jungle-background.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll !important;
}

.page-background {
  background-color: rgba(20, 120, 70, 0.8);
  padding: 15pt;
  margin-left: 10pt;
  margin-right: 10pt;
}

.page-content {

}

/* Navigation */

.nav-bar {
    background-color: rgba(0, 10, 0, 0.75) !important;
  }
  
  .logo-link {
    height: 100%;
    display: flex;
    text-decoration: none;
  }
  
  .logo-img {
    height: 50pt;
    width: auto;
  }
  
  .logo-text {
    font-size: x-large;
    color: white;
    font-style: italic;
    height: auto;
    line-height: normal;
    margin-top: 8pt;
    padding: 5pt;
  }

  .nav-link {
    color: rgb(236, 236, 236) !important;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
  }

  .dropdown-link {
  }

/* Footer */

.footer {
    background-color: rgba(0, 10, 0, 0.6);
    width: 100%;
    position: fixed;
    bottom: 0;
}

.cert-container {
    margin-left: 100pt;
    margin-right: 100pt;
    display: flex;
    justify-content: center;
}

.cert {
    height: 50pt;
    width: auto;
    margin: 10pt;
}

.social-container {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.social-icon {
    margin-left: 5pt;
    margin-right: 5pt;
    color: white;
}

/* Home */

.columns-container {
    display: flex;
}

.edge-column {
    flex: 25%;
    margin: 15pt;
}

.centre-column {
    flex: 50%;
    margin: 15pt;
}

/* Cat Cards */

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

.cat-card {
  display: flex;
  flex-direction: column;
  color: green;
  background-color: white;
}

.cat-img {
  width: 60vw;
  height: auto;
}

.cat-text {
  color:green;
  background-color: white;
  width: 60vw;
  height: auto;
  margin: auto;
  padding-bottom: 30pt;
}