.nav-bar {
  background-color: rgba(0, 10, 0, 0.7);
  height: 80pt;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.logo-link {
  height: 100%;
  padding: 5pt;
  display: flex;
  margin-left: 20pt;
  text-decoration: none;
}

.logo-img {
  width: 60pt;
  height: auto;
}

.logo-text {
  color: white;
  font-style: italic;
  height: auto;
  line-height: normal;
  margin-left: 5pt;
  padding: 5pt;
}

.nav-links-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
  
.nav-link {
  color: lightgrey;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
}