@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --background-green: rgba(26, 133, 79, .85);
  --background-white: rgba(236, 236, 236, .85);
  --background-black: rgba(16, 32, 16, .9);
  --link-green: rgb(25, 223, 58);
  --link-active-green: rgb(25, 223, 58);
  --accent-green: rgb(4, 110, 27);
  --accent-orange: rgb(231, 181, 43);
  --nav-black: rgba(16, 32, 16, .75);
  --nav-white: rgb(236, 236, 236);
  --text-white: rgb(250, 250, 250);
  --text-black: rgb(0, 0, 0);
  --carousel-black: rgba(16, 32, 16, .4);
}

.App {
  background-attachment: fixed;
  background-image: url('../public/assets/jungle-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-white);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  overflow-y: scroll !important;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Basic pages */

.page-background {
  background-color: var(--background-black);
  border-radius: 10pt;
  margin: auto;
  margin-top: 15pt;
  margin-bottom: 20pt;
  padding: 10pt;
  text-align: center;
  width: 95%;
}

.paragraph-container > p {
  margin: auto;
  margin-bottom: 15pt;
  max-width: 80rem;
  text-align: left;
  width: fit-content;
}

.page-header {
  padding-left: 20pt;
  padding-right: 20pt; 
}

.page-subheader {
  font-size: x-large;
}

.padded-header {
  padding-bottom: 10pt;
}

.page-content {
  max-height: auto;
  min-height: 75%;
}

.contract-paragraph {
  line-height: 24pt;
  margin: auto;
  text-align: left;
  width: fit-content;
}

.contract-variant {
  text-align: center;
}

a {
  color: var(--link-green);
}

a:hover{
  color: var(--link-active-green);
}

label {
  padding-left: 10pt;
}

/* Page components */

.columns-container {
  display: flex;
  margin-top: 30pt;
}

.cat-card-column {
  margin: auto;
  margin-bottom: 10pt;
  width: fit-content;
}

.centre-column {
  width: auto;
}

.list-container {
  margin: auto;
  margin-bottom: 30pt;
  min-width: 300pt;
  text-align: left;
  width: 60%;
}

.item-container {
  display: flex;
}

.item-container p { 
  margin: auto;
  width: 90%;
}

.side-img {
  border-radius: 10pt;
  display: block;
  height: auto;
  margin: auto;
  margin-bottom: 20pt;
  max-width: 80%;
  object-fit: contain;
}

.bottom-img {
  margin: 10pt;
  margin-bottom: 30pt;
  min-width: 100pt;
  width: 30%;
}

.centre-img {
  border-radius: 10pt;
  display: block;
  height: auto;
  margin-left: 10%;
  max-width: 100%;
  object-fit: contain;
}

.video-frame {
  aspect-ratio: 3 / 2;
  width: 100%;
}

.pdf-container {
  margin: auto;
  margin-top: 20pt;
}

/* Navigation */

.nav-bar {
    background-color: var(--nav-black) !important;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
.logo-link {
  text-decoration: none;
}

.logo-brand {
  height: 100%;
  display: flex;
  text-decoration: none;
}

.logo-img {
  height: 50pt;
  width: auto;
}

.logo-text {
  color: var(--nav-white);
  font-size: x-large;
  font-style: italic;
  height: auto;
  line-height: normal;
  margin-top: 8pt;
  padding: 5pt;
}

.nav-link {
  color: var(--nav-white) !important;
  cursor: pointer;
  padding: 10pt 15pt;
  text-decoration: none;
}

.nav-link.active {
  color: var(--link-active-green) !important;
}

.dropdown-menu {
  background-color: var(--nav-black);
  padding-left: 5pt;
  padding-right: 5pt;
  text-align: center;
}

.dropdown-link {
  color: var(--nav-white);
  text-decoration: none;
}

/* Footer */

.footer {
  background-color: var(--nav-black);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.cert-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: safe center;
  margin: auto;
}

.cert-container::-webkit-scrollbar {
  display: none;
}

.cert {
  height: 50pt;
  margin: 10pt;
  width: auto;
}

.social-container {
  display: flex;
  font-size: 2rem;
  justify-content: center;
}

.social-icon {
  margin-left: 5pt;
  margin-right: 5pt;
  color: var(--text-white);
}

/* Cat cards */

.cat-card-carousel-container {
  padding: 10pt;
  margin-top: 20pt;
  width: 95%;
}

.cat-card-carousel {
  background-color: var(--carousel-black);
  border-radius: 10pt;
  margin: auto;
}

.card-container {
  border-radius: 10pt;
  margin: auto;
  margin-bottom: 10pt;
  width: 95%;
}

.cat-card {
  background-color: var(--text-white);
  border-radius: 15pt;
  cursor: pointer;
  margin-left: 5pt;
  text-align: center;
  transition: margin .25s;
  width: 90%;
}

.cat-card:hover {
  margin-top: -5pt;
  margin-bottom: 5pt;
}

.cat-img {
  border-radius: 10pt;
  cursor: pointer;
  margin: auto;
  width: 90%;
}

.placeholder-img {
  cursor: default;
  min-width: 200pt;
  width: 40%;
}

.modal-img {
  margin-left: 5%;
  margin-right: 5%;
}

.card-img {
  aspect-ratio: 5 / 4;
  margin-top: 5%;
  object-fit: cover;
}

.cat-text {
  color: var(--accent-green);
  font-size: larger;
  font-weight: bolder;
  padding-top: 5pt;
  padding-bottom: 5pt;
}

/* Cat profile modal */

.modal {
  background-color: var(--carousel-black);
}

.cat-modal {
  width: 90%;
}

.profile-header {
  display: flex;
  justify-content: center;
}

.profile-title {
  margin: auto;
  padding-left: 19%;
}

.btn-close {
  justify-self: right;
}

.cat-columns-container {
  text-align: center;
}

.profile-info-container {
  display: flex;
  margin-bottom: 10pt;
}

.cat-info-right-col {
  padding: 3pt;
}

.carousel-container {
  margin: auto;
  margin-bottom: 10pt;
  width: 100%;
}

.kitten-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  margin-bottom: 10pt;
  row-gap: 2%;
}

.preview-link {
  padding-top: 10pt;
}

/* Accordion menu */

.accordion {
  border-radius: 10pt;
  margin: auto;
  margin-top: 30pt;
  margin-bottom: 30pt;
  max-width: 80rem;
  width: 95%;
}

.accordion-button {
  background-color: var(--text-white);
  color: var(--accent-green);
  transition: padding .25s;
}

.accordion-button:hover {
  color: var(--link-active-green);
  padding-left: 16pt;
}

.accordion-button:not(.collapsed) {
  background-color: var(--text-white);
}

.accordion-header-text {
  font-size: large;
  font-weight: bold;
  margin-top: 5pt;
  margin-bottom: 5pt;
}

.accordion-selection-count {
  margin-bottom: 0;
  margin-left: 10pt;
}

.accordion-item {
  background-color: var(--background-black);
  color: var(--text-white);
  margin-bottom: 0;
  text-align: left;
}

/* Kitten gallery */

.gallery-container {
  display: grid;
  gap: 15pt;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: auto;
  margin-top: 20pt;
  margin-bottom: 20pt;
  width: 95%;
}

.filter-accordion {
  min-width: 260pt;
  text-align: center;
  width: 50%;
}

.parent-accordions-container {
  justify-content: center;
}

.parent-accordion {
  margin-top: 5pt;
  margin-bottom: 5pt;
  width: 100%;
}

.checkbox {
  accent-color: var(--accent-green);
}

.filter-warning {
  background-color: var(--text-white);
  border-radius: 20pt;
  color: var(--text-black);
  margin: auto;
  margin-top: -10pt;
  padding: 10pt;
  padding-bottom: 5pt;
  text-align: center;
  width: fit-content;
}

.selection-warning {
  background-color: var(--accent-orange);
}

.video-frame-container {
  margin: auto;
  margin-top: 2%;
  width: 80%;
}

/* Email Form */

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: -10pt;
  margin-bottom: 10pt;
}

.form-label {
  margin-top: 10pt;
  margin-bottom: 5pt;
}

.form-input {
  border-radius: 10pt;
  margin: auto;
  padding: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  width: 200pt;
}

.form-button {
  background-color: var(--accent-green);
  border: none;
  border-radius: 10pt;
  margin-top: 15pt;
  margin-bottom: 15pt;
  padding-left: 20pt;
  padding-right: 20pt;
}

.form-button:hover {
  background-color: var(--link-active-green);
}

.form-alert {
  background-color: var(--text-white);
  border-radius: 15pt;
  color: var(--text-black);
}

.form-alert-button {
  background-color: var(--accent-green) !important;
  border-radius: 10pt !important;
  color: var(--text-white) !important;
  padding-left: 20pt !important;
  padding-right: 20pt !important;
}

@media (width <= 60.5rem) {
  .profile-title {
    margin: auto;
    padding-left: 17%;
  }

  .gallery-container {
    display: grid;
    gap: 10pt;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: auto;
    margin-top: 20pt;
    margin-bottom: 20pt;
    width: 95%;
  }
}