@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --background-green: rgba(26, 133, 79, 0.85);
  --background-white: rgba(236, 236, 236, 0.85);
  --background-black: rgba(0, 10, 0, 0.90);
  --link-green: rgb(25, 223, 58);
  --link-active-green: rgba(25, 223, 58, 0.911);
  --accent-green: rgb(4, 110, 27);
  --nav-black: rgba(0, 10, 0, 0.75);
  --nav-white: rgb(236, 236, 236);
  --text-white: rgb(250, 250, 250);
  --text-black: rgb(0, 0, 0);
  --carousel-black: rgba(0, 10, 0, 0.4);
}

.App {
    color: var(--text-white);
    background-image: url('../public/assets/jungle-background.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll !important;
    height: 100vh;
}

/* Basic pages */

.page-background {
  text-align: center;
  border-radius: 10pt;
  background-color: var(--background-black);
  width: 95%;
  padding: 10pt;
  margin: auto;
  margin-top: 15pt;
  margin-bottom: 20pt;
}

.page-content {
  min-height: 75%;
  max-height: auto;
}

.paragraph-variant {
  text-align: left;
  line-height: 24pt;
  width: fit-content;
  margin: auto;
}

.paragraph-variant-heading {
  text-align: center;
}

a {
  color: var(--link-green);
}

a:hover{
  color: var(--link-active-green);
}

label {
  padding-left: 10pt;
}

/* Page components */

.columns-container {
  display: flex;
  padding: 15pt;
}

.cat-card-column {
  width: fit-content;
  margin: auto;
  margin-bottom: 10pt;
}

.centre-column {
  width: auto;
}

.list-container {
  text-align: left;
  width: 60%;
  max-width: fit-content;
  min-width: 300pt;
  margin: auto;
}

.item-container {
  display: flex;
  padding: 10pt;
}

.side-img {
  border-radius: 10pt;
  display: block;
  max-width: 90%;
  height: auto;
  margin: auto;
  object-fit: contain;
}

.centre-img {
  border-radius: 10pt;
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-left: 10%;
}

.video-frame {
  width: 100%;
  aspect-ratio: 3 / 2;
}

.pdf-container {
  margin: auto;
  margin-top: 20pt;
}

/* Navigation */

.nav-bar {
    background-color: var(--nav-black) !important;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
.logo-link {
  height: 100%;
  display: flex;
  text-decoration: none;
}

.logo-img {
  height: 50pt;
  width: auto;
}

.logo-text {
  font-size: x-large;
  color: var(--nav-white);
  font-style: italic;
  height: auto;
  line-height: normal;
  margin-top: 8pt;
  padding: 5pt;
}

.nav-link {
  color: var(--nav-white) !important;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
}

.nav-link.active {
  color: var(--link-active-green) !important;
}

.dropdown-links-container {
  text-align: center;
}

.dropdown-link {
  color: var(--nav-white);
}

.dropdown-menu {
  background-color: var(--nav-black) !important;
}

/* Footer */

.footer {
    background-color: var(--nav-black);
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cert-container {
    display: flex;
    justify-content: safe center;
    width: 90%;
    margin: auto;
    overflow-x: scroll;
}

.cert {
    height: 50pt;
    width: auto;
    margin: 10pt;
}

.social-container {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.social-icon {
    margin-left: 5pt;
    margin-right: 5pt;
    color: var(--text-white);
}

/* Cat cards */

.cat-card-carousel-container {
  width: 95%;
  padding: 10pt;
  margin-top: 20pt;
}

.cat-card-carousel {
  background-color: var(--carousel-black);
  border-radius: 10pt;
  margin: auto;
}

.card-container {
  border-radius: 10pt;
  width: 95%;
  margin: auto;
  margin-bottom: 10pt;
}

.cat-card {
  border-radius: 15pt;
  cursor: pointer;
  background-color: var(--text-white);
  text-align: center;
  width: 90%;
  margin-left: 5pt;
  transition: margin 0.25s;
}

.cat-card:hover {
  margin-top: -5pt;
  margin-bottom: 5pt;
}

.cat-img {
  width: 90%;
  border-radius: 10pt;
  margin: auto;
  cursor: pointer;
}

.modal-img {
  margin-left: 5%;
  margin-right: 5%;
}

.card-image {
  aspect-ratio: 5 / 4;
  object-fit: cover;
  width: 90%;
  margin-top: 5%;
}

.cat-text {
  color: var(--accent-green);
  font-size: larger;
  font-weight: bolder;
  padding-top: 5pt;
  padding-bottom: 5pt;
}

/* Cat profile modal */

.modal {
  background-color: var(--carousel-black);
}

.cat-modal {
  width: 90%;
}

.cat-columns-container {
  text-align: center;
}

.profile-info-container {
  display: flex;
  margin-bottom: 10pt;
}

.cat-info-right-col {
  padding: 3pt;
}

.carousel-container {
  width: 100%;
  margin: auto;
  margin-bottom: 10pt;
}

.kitten-images-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
  margin-bottom: 10pt;
  row-gap: 2%;
}

/* Accordion menu */

.accordion {
  border-radius: 10pt;
  width: 95%;
  margin: auto;
  margin-top: 30pt;
  margin-bottom: 20pt;
}

.accordion-button {
  background-color: var(--text-white);
  transition: padding 0.25s;
}

.accordion-button:hover {
  padding-left: 20pt;
  
}

.accordion-button:not(.collapsed) {
  background-color: var(--text-white);
}

.accordion-header-text {
  margin-bottom: 0rem;
  color: var(--accent-green);
  font-size: large;
  font-weight: bold;
}

.accordion-selection-count {
  margin-bottom: 0rem;
  margin-left: 25%;
}

.accordion-item {
  color: var(--text-white);
  background-color: var(--background-black);
}

/* Kitten gallery */

.gallery-container {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 15pt;
  width: 95%;
  justify-content: center;
  margin: auto;
  margin-top: 20pt;
  margin-bottom: 20pt;
}

.filter-accordion {
  width: 50%;
  min-width: 200pt;
  text-align: center;
}

.parent-accordions-container {
  display: flex;
}

.parent-accordion {
  width: 45%;
  margin-top: 5pt;
  margin-bottom: 5pt;
}

.checkbox {
  accent-color: var(--accent-green);
}

.video-frame-container {
  width: 80%;
  margin: auto;
  margin-top: 2%;
}

/* Email Form */

.form-container {
  margin: auto;
  margin-bottom: 10pt;
}

.form-input {
  width: 200pt;
  margin: auto;
  border-radius: 10px;
}

.form-button {
  padding-left: 20pt;
  padding-right: 20pt;
  background-color: var(--accent-green);
  margin-top: 10pt;
  border: none;
  border-radius: 10px;
}

.form-button:hover {
  background-color: var(--link-active-green);
}